<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>User</title>
        <link href="/stylesheets/electriccs.css" rel="stylesheet" />
        
        <link rel="icon" href="/images/logo.png" type="image/icon type">
        <script src="/javascripts/elctricscript.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script>
            function removehide()
            {
                var x=document.getElementById('#cid');
                x.removeAttribute("hidden");
            }
        </script>
        <style>
            @media print{
                .no-print{
                    display: none;
                }
            }
        </style>
       <!-- <link href="css/styles.css" rel="stylesheet" />
        <link href="css/electriccs.css" rel="stylesheet" />-->
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Maintenance System</div>
                <div class="list-group list-group-flush accordion-group" id="globalgroup">
                   <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user"><b>Home</b></a>
		<!--    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"><b>Details</b></a>--> 
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" data-bs-toggle="collapse" data-parent="#globalgroup" href="#collapse1" id="group1" onclick="makeactive('group1')"><b>Services </b>
                        <svg xmlns="./icons-1.3.0/icons/caret-down-fill.svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                          </svg>
                    </a>
                    <div id="collapse1" class="panel-collapse collapse">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" data-bs-toggle="collapse" data-parent="#group1" href="#sub1" id="group5"><b>Electrical </b>
                            <svg xmlns="./icons-1.3.0/icons/caret-down-fill.svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                              </svg>
                        </a>
			<div id="sub1" class="panel-collapse collapse">
			<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/electriclaunch">Launch Request</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/electricstatus">Check Request Status</a>
			<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/electricall">All Requests</a>
			</div>
			
			<a class="list-group-item list-group-item-action list-group-item-light p-3" data-bs-toggle="collapse" data-parent="#group1" href="#sub2" id="group5"><b>IT Works </b>
                <svg xmlns="./icons-1.3.0/icons/caret-down-fill.svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                  </svg>
            </a>
			<div id="sub2" class="panel-collapse collapse">
			<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/itlaunch">Launch Request</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/itstatus">Check Request Status</a>
			<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/itall">All Requests</a>
			</div>

			<a class="list-group-item list-group-item-action list-group-item-light p-3" data-bs-toggle="collapse" data-parent="#group1" href="#sub3" id="group5"><b>Plumbing </b>
                <svg xmlns="./icons-1.3.0/icons/caret-down-fill.svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                  </svg>
            </a>
			<div id="sub3" class="panel-collapse collapse">
			<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/plumbinglaunch">Launch Request</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/plumbingstatus">Check Request Status</a>
			<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/plumbingall">All Requests</a>
			</div>
			
			<a class="list-group-item list-group-item-action list-group-item-light p-3" data-bs-toggle="collapse" data-parent="#group1" href="#sub4" id="group5"><b>Civil Works </b>
                <svg xmlns="./icons-1.3.0/icons/caret-down-fill.svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                    <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                  </svg>
            </a>
			<div id="sub4" class="panel-collapse collapse">
			<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/civillaunch">Launch Request</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/civilstatus">Check Request Status</a>
			<a class="list-group-item list-group-item-action list-group-item-light p-3" href="/user/civilall">All Requests</a>
			</div>
			
			
                       
                      </div>
       
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom no-print"    id="navigationbar">
                    <div class="container-fluid">
                        <button class="btn btn-primary" id="sidebarToggle"><svg xmlns="./icons-1.3.0/icons/list.svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                          </svg> Menu</button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                                <li class="nav-item active"><a class="nav-link" href="/user">Home</a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg xmlns="./icons-1.3.0/icons/person-circle.svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                          </svg>
                                        <%=(typeof username!='undefined')? username:''%>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/userprofile">
                                            Profile</a>
                                        <a class="dropdown-item" href="/user/userreset">Reset Password</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <div class="overflow-auto">
                       
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th colspan="9" scope="col" style="text-align: center; font-size:20px;">Civil Works Request Status</th>
                                </tr>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Complaint ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Complaint</th>
                                <th scope="col">Location</th>
                                <th scope="col">Status</th>
                                <th scope="col">Worker</th>
                                <th scope="col">Completed</th>
                                <th scope="col">Reopen</th>
                              </tr>
                            </thead>
                            <tbody>
                                <%
                                if(details.length!=0){
                                var i=1;
                                details.forEach(function(data1){
                                %>
                                <tr>
                                <form method="post" action="/close_civil" onsubmit="removehide()">
                                    <input type="text" value="<%=data1.cid%>" id="cid" name="complaintid" hidden>
                                <th scope="row"><%=i%></th>
                                <td><%=data1.cid%></td>
                                <% var date=new Date('YYYY-MM-DD HH:mm:ss');
                                date=data1.date%>
                                <td><%=date%></td>
                                <td><b><%=data1.complaint%></b><br><%=data1.description%></td>
                                <td><b><%=data1.location%></b><br><%=data1.locationdes%></td>
                                <td><%=data1.status%></td>
                                <% var close;
                                    if(data1.status!='closed')
                                    {
                                        close='disabled';
                                    }
                                    var request;
                                    var reqmsg;
                                    const then=new Date(data1.updateddate);
                                    const now=new Date();
                                    const msBetweenDates=(Math.abs(then.getTime()-now.getTime()));
                                    const hoursBetweenDates=msBetweenDates/(60*60*1000);
                                    if(hoursBetweenDates<=24){ request='disabled'}%>

                                <%if(data1.eid==null){%>
                                    <td></td>    
                                <%}%>
                                <%elename.forEach(function(elec){
                                    if(elec.id==data1.eid){
                                    %>
                                        <td><%=elec.name%></td>
                                    <%}%>
                                    <%})%>
                                    <td><button type="submit" class="btn btn-primary" title="close" <%=close%>>Completed( with satisfactory)</button></td>
                                    <td><button type="submit" class="btn btn-primary" formaction="/request_civil" <%=request%>>Request for Status Update</button>
                                    
                                </tr> 
                            </form>              
                              <%  i++; }) %>
                            <% } else{ %>
                                <tr>
                                    <td colspan="9">No Data Found</td>
                                </tr>
                            <% } %>
                            <tr>
                                <td colspan="9" style="color: red;">Request for Status Update will be Activated After 24 Hours from Time Of Apply.</td>
                            </tr>
                            <tr>
                                <td colspan="9" style="color: red;">Completed button will be Activated after department Solves/ Completes the Request.</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>
